In [40]:
# %config Completer.use_jedi = False
import pandas as pd

## Importing datasets

In [41]:
pokemon_orig = pd.read_csv("../Resources/pokemon.csv", usecols=["Pokemon"]).squeeze()
google_orig = pd.read_csv("../Resources/google_stock_price.csv", usecols=["Stock Price"]).squeeze()
pokemon_index_orig = pd.read_csv("../Resources/pokemon.csv", index_col="Pokemon").squeeze()

## Create a Series Object from a List

In [42]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [43]:
lottery = [4, 8, 16, 15, 32, 34]
pd.Series(lottery)

0     4
1     8
2    16
3    15
4    32
5    34
dtype: int64

## Create a Series Object from a Dictionary

In [44]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eal": "Brown"
}
pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eal        Brown
dtype: object

## Intro to Methods

In [45]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [46]:
print(prices.sum())
print(prices.product())
prices.mean()

8.8
18.095480000000006

2.9333333333333336

## Intro to Attributes

In [47]:
adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [48]:
print(adjectives.size)
print(adjectives.is_unique)
print(adjectives.values)
print(adjectives.index)
adjectives.dtype

5
True
['Smart' 'Handsome' 'Charming' 'Brilliant' 'Humble']
RangeIndex(start=0, stop=5, step=1)

dtype('O')

## Parameters and Arguments

In [49]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series(fruits, weekdays)
pd.Series(data=fruits, index=weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

## Import Series with the `pd.read_csv()` Function

In [50]:
pokemon = pd.read_csv("../Resources/pokemon.csv")
pokemon = pokemon_orig
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [51]:
google = google_orig
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

## The `.head()` and `.tail()` Method

In [52]:
pokemon = pokemon_orig
google = google_orig

In [53]:
print(pokemon.head())
google.tail()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

## Passing Series to Python's Built-In Functions

In [54]:
print(len(pokemon))
print(type(pokemon))
dir(pokemon)  # Returns attributes for the passed in object.
sorted(pokemon)
print(type(sorted(pokemon)))
print(list(google)[1:10]) # Converts series into a list.
dict(pokemon) # Converts series into a dictionary.

# Series can have duplicate index labels.

print(max(google))
min(pokemon)

721
<class 'pandas.core.series.Series'>
<class 'list'>
[54.1, 54.65, 52.38, 52.95, 53.9, 53.02, 50.95, 51.13, 50.07]
782.22

'Abomasnow'

## The `.sort_values()` Method

In [55]:
pokemon.sort_values().head()  # Index remains same
google.sort_values(ascending=False).head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

## The `.sort_index()` Method

In [56]:
pokemon_with_index = pokemon_index_orig
pokemon_with_index.sort_index()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

## Check for Inclusion with Python's `in` Keyword

In [57]:
print("car" in "racecar")
print(2 in [1, 2, 3])
print("Bulbasaur" in pokemon)
print(100 in pokemon)
      
# By default given value is checked in Series index and not in the series Values
# 100 in pokemon is same as writing 100 in pokemon.index
      
print(pokemon.values[1:10])
"Bulbasaur" in pokemon.values

True
True
False
True
['Ivysaur' 'Venusaur' 'Charmander' 'Charmeleon' 'Charizard' 'Squirtle'
 'Wartortle' 'Blastoise' 'Caterpie']

True

## Extract Series Values by Index Position

In [58]:
print(pokemon[0])
print(pokemon[100])
print(pokemon[[1, 4, 5]])
print(pokemon[27:35])
pokemon[:7]
pokemon[700:]

# pokemon[-1] Does not work
print(pokemon[-1:])

print(pokemon[-20:-10])
pokemon[-20:]

Bulbasaur
Electrode
1       Ivysaur
4    Charmeleon
5     Charizard
Name: Pokemon, dtype: object
27    Sandslash
28      Nidoran
29     Nidorina
30    Nidoqueen
31     Nidoranâ™‚
32     Nidorino
33     Nidoking
34     Clefairy
Name: Pokemon, dtype: object
720    Volcanion
Name: Pokemon, dtype: object
701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
Name: Pokemon, dtype: object

701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

## Extract Series Values by Index Label

In [59]:
pokemon_with_index = pokemon_index_orig
pokemon_with_index

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [60]:
print(pokemon_with_index[0])
pokemon_with_index[[1,3]]

Grass

Pokemon
Ivysaur       Grass
Charmander     Fire
Name: Type, dtype: object

In [61]:
print(pokemon_with_index["Bulbasaur"])
pokemon_with_index[["Charizard", "Jolteon"]]

Grass

Pokemon
Charizard        Fire
Jolteon      Electric
Name: Type, dtype: object

## The `.get()` Method on a Series

In [62]:
print(pokemon_with_index.get(0))
print(pokemon_with_index.get("Bulbasaur"))
print(pokemon_with_index.get(["Moltres", "Meowth"]))
print(pokemon_with_index.get("xyz"))
print(pokemon_with_index.get("xyz", "NonExistent"))
print(pokemon_with_index.get(["Moltres", "y"]))

Grass
Grass
Pokemon
Moltres      Fire
Meowth     Normal
Name: Type, dtype: object
None
NonExistent
None

## Overwrite a Series value

In [63]:
# Using Index Position

pokemon[0] = 'Borisaur'
pokemon[1500] = 'Hello'
pokemon[[1,2,4]] = ['A', 'B', 'D']
pokemon.head()

0      Borisaur
1             A
2             B
3    Charmander
4             D
Name: Pokemon, dtype: object

In [67]:
# Using Index Labels

pokemon_with_index["Bulbasaur"] = "Awesomemon"
pokemon_with_index

Pokemon
Bulbasaur     Awesomemon
Ivysaur            Grass
Venusaur           Grass
Charmander          Fire
Charmeleon          Fire
                 ...
Yveltal             Dark
Zygarde           Dragon
Diancie             Rock
Hoopa            Psychic
Volcanion           Fire
Name: Type, Length: 721, dtype: object

## The `.copy()` Method

In [68]:
pokemon_df = pd.read_csv("../Resources/pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns")

In [69]:
pokemon_series[0] = "Whatever"

In [70]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [71]:
pokemon_df.head(1)
# Even if we modify values in the series, it will be reflected in the dataframe.

    Pokemon
0  Whatever

In [72]:
pokemon_df = pd.read_csv("../Resources/pokemon.csv", usecols=["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()

In [73]:
pokemon_series[0] = "Whatever"

In [74]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [75]:
pokemon_df.head(1)

     Pokemon
0  Bulbasaur

## The `inplace` parameter

In [76]:
google = google_orig.copy()
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [77]:
google = google.sort_values()
#OR
google.sort_values(inplace=True)
google.sort_index(inplace=True)

In [78]:
google = google_orig
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [79]:
# google.sort_values(inplace=True) # Gives an error

## Math methods on Series objects

In [80]:
google = google_orig
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [81]:
google.count() #Ignores missing values
google.sum()
google.mean()
google.product()
google.std()
google.max()
google.min()
google.median()
google.mode()
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

## Broadcasting

In [82]:
google + 10
google - 30
google * 2

google.add(10)

0        60.12
1        64.10
2        64.65
3        62.38
4        62.95
         ...
3007    782.88
3008    781.07
3009    783.18
3010    781.61
3011    792.22
Name: Stock Price, Length: 3012, dtype: float64

## The `.value_counts()` method

In [83]:
pokemon = pokemon_index_orig
pokemon.head()

Pokemon
Bulbasaur     Awesomemon
Ivysaur            Grass
Venusaur           Grass
Charmander          Fire
Charmeleon          Fire
Name: Type, dtype: object

In [84]:
pokemon.value_counts()
pokemon.value_counts(ascending=True)
pokemon.value_counts(sort=False)
pokemon.value_counts(normalize=True) * 100

Type
Water         14.563107
Normal        12.898752
Grass          9.015257
Bug            8.737864
Fire           6.518724
Psychic        6.518724
Rock           5.686546
Electric       4.993065
Ground         4.160888
Dark           3.883495
Poison         3.883495
Fighting       3.467406
Dragon         3.328710
Ghost          3.190014
Ice            3.190014
Steel          3.051318
Fairy          2.357836
Flying         0.416089
Awesomemon     0.138696
Name: proportion, dtype: float64

## The `.apply()` Method

In [85]:
# Pass each value of the series to the function provided as an argument.

print(pokemon_with_index.apply(len))


def rank_pokemon(pokemon_type):
    if pokemon_type in ["Grass", "Fire", "Water"]:
        return "Classic"
    elif pokemon_type == "Normal":
        return "Boring"
    else:
        return "TBD"


pokemon_with_index.apply(rank_pokemon)

Pokemon
Bulbasaur     10
Ivysaur        5
Venusaur       5
Charmander     4
Charmeleon     4
              ..
Yveltal        4
Zygarde        6
Diancie        4
Hoopa          7
Volcanion      4
Name: Type, Length: 721, dtype: int64

Pokemon
Bulbasaur         TBD
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

## The `.map()` Method

In [86]:
mappings = {
    "Grass": "Classic",
    "Fire": "Classic",
    "Water": "Classic",
    "Normal": "Boring",
}

mapping_series = pd.Series(mappings)

pokemon_with_index.map(mappings)

Pokemon
Bulbasaur         NaN
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object

In [87]:
pokemon_with_index.map(mapping_series)  # Values in pokemon_with_index will be checked in the index label of mapping_series

Pokemon
Bulbasaur         NaN
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object