In [1]:
import pandas as pd

bigmac = pd.read_csv("./resources/bigmac.csv", parse_dates=["Date"])
bigmac.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_176\444962603.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv("./resources/bigmac.csv", parse_dates=["Date"])

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [2]:
bigmac.nunique()
# Column with least number of unique values should be outermost index - General rule

Date                    12
Country                 58
Price in US Dollars    330
dtype: int64

In [3]:
bigmac.set_index(keys=["Date", "Country"], inplace=True)
bigmac.sort_index(inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [7]:
bigmac.index
bigmac.index.names
bigmac.index[0]
type(bigmac.index[0])

tuple

In [17]:
bigmac = pd.read_csv(
    "./resources/bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"]
)
bigmac.sort_index(inplace=True)
bigmac.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_176\1602124056.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bigmac = pd.read_csv("./resources/bigmac.csv", parse_dates=["Date"], index_col= ["Date", "Country"])

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [15]:
bigmac.index.get_level_values("Date")
bigmac.index.get_level_values(0)

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [18]:
bigmac.index.get_level_values("Country")
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

In [27]:
bigmac.index.set_names(names=["Day", "Location"], inplace=True)
bigmac.index.set_names(names="Date", level=0, inplace=True)
bigmac.index.set_names(names="Day", level="Date", inplace=True)
bigmac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

sort_index() Method