In [2]:
import pandas as pd

### The `.set_index()` and `.reset_index()` Methods

In [3]:
bond = pd.read_csv("../Resources/jamesbond.csv", index_col="Film")
# OR
bond = pd.read_csv("../Resources/jamesbond.csv")
bond.set_index("Film", inplace=False)

bond.reset_index(drop=True, inplace=True)
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [25]:
bond.set_index("Film", inplace=True)
bond.set_index(
    "Year", inplace=True
)  # Second set_index statement will remove "Film" from the dataframe entirely.
# Use combination of set_index and reset_index to avoid that from happening. See next cell.
bond.head()

             Actor       Director  Box Office  Budget  Bond Actor Salary
Year
1962  Sean Connery  Terence Young       448.8     7.0                0.6
1963  Sean Connery  Terence Young       543.8    12.6                1.6
1964  Sean Connery   Guy Hamilton       820.4    18.6                3.2
1965  Sean Connery  Terence Young       848.1    41.9                4.7
1967   David Niven     Ken Hughes       315.0    85.0                NaN

In [28]:
bond.set_index("Film", inplace=True)
bond.reset_index(inplace=True)
bond.set_index("Year", inplace=True)
bond.head()

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN

### Importing the dataset

In [33]:
bond_label_orig = pd.read_csv("../Resources/jamesbond.csv", index_col="Film")
bond_pos_orig = pd.read_csv("../Resources/jamesbond.csv")

### Retrieve Rows by Index Label with `.loc[]` Accessor

In [34]:
bond = bond_label_orig
print(bond.head())
bond.sort_index(inplace=True)
bond.loc["Goldfinger"]  # returns pandas series
bond.loc["Casino Royale"]  # returns pandas dataframe because this label is present multiple times

bond.loc["Diamonds Are Forever":"From Russia with Love"]  # Final row is inclusive
bond.loc["Diamonds Are Forever":"From Russia with Love":2]
bond.loc["GoldenEye":]
bond.loc[:"On Her Majesty's Secret Service"]

bond.loc[["Die Another Day", "Octopussy"]]
bond.loc[["Octopussy", "Die Another Day"]]

"Gold Bond" in bond.index
# bond.loc[["Octopussy", "Die Another Day", "Gold Bond"]]  # Gives error even if one of the element in list is absent in index

                       Year         Actor       Director  Box Office  Budget  \
Film
Dr. No                 1962  Sean Connery  Terence Young       448.8     7.0
From Russia with Love  1963  Sean Connery  Terence Young       543.8    12.6
Goldfinger             1964  Sean Connery   Guy Hamilton       820.4    18.6
Thunderball            1965  Sean Connery  Terence Young       848.1    41.9
Casino Royale          1967   David Niven     Ken Hughes       315.0    85.0

                       Bond Actor Salary
Film
Dr. No                               0.6
From Russia with Love                1.6
Goldfinger                           3.2
Thunderball                          4.7
Casino Royale                        NaN

False

### Retrieve Rows by Index Position with `.iloc[]` Accessor

In [39]:
bond = bond_pos_orig
print(bond.head())
bond.sort_index(inplace=True)
bond.head()
bond.loc[0]  # returns pandas series

# bond.iloc[4:8]  # Final row is exclusive
# bond.loc[4:20:2]
# bond.loc[20:]
# bond.loc[:4]

# bond.iloc[[15, 20]]
# bond.iloc[[20, 15]]

# bond.set_index("Film", inplace=True)
# bond.sort_index()
# bond.head()

# bond.loc["GoldenEye"]
# bond.iloc[3]

                    Film  Year         Actor       Director  Box Office  \
0                 Dr. No  1962  Sean Connery  Terence Young       448.8
1  From Russia with Love  1963  Sean Connery  Terence Young       543.8
2             Goldfinger  1964  Sean Connery   Guy Hamilton       820.4
3            Thunderball  1965  Sean Connery  Terence Young       848.1
4          Casino Royale  1967   David Niven     Ken Hughes       315.0

   Budget  Bond Actor Salary
0     7.0                0.6
1    12.6                1.6
2    18.6                3.2
3    41.9                4.7
4    85.0                NaN

Film                        Dr. No
Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: 0, dtype: object